@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1></h1>
    <form method="get" action="~/Home/New">Low:
        <input type="number" name="low"/>
    <br/>
    High:
    <input type="number" name="high"/>
    <input type="submit" value="Go!" />
    </form>
</div>
